@inherits MainLayoutBase

<div class="sidebar">
    <NavMenu IsLoggedIn="@IsLoggedId" />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link ml-md-auto" href="" @onclick="@SignOutHandlerAsync">
                    Sign Out
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link ml-md-auto" href="signin">
                    Sign In
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
